
@{
    ViewData["Title"] = "AdminStartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AdminStartPage</h1>
<img width="600" align="middle" src="https://thumbs.gfycat.com/AmazingThoseDiscus-size_restricted.gif" />