
@{
    ViewData["Title"] = "EmployeeStartPage";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>EmployeeStartPage</h1>
<img align="middle" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d453107e-cb83-4704-b397-6cb6201554a9/d56crsq-9d6e7a2f-cf64-4479-8b93-b9f7b108d2ac.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9kNDUzMTA3ZS1jYjgzLTQ3MDQtYjM5Ny02Y2I2MjAxNTU0YTkvZDU2Y3JzcS05ZDZlN2EyZi1jZjY0LTQ0NzktOGI5My1iOWY3YjEwOGQyYWMuZ2lmIn1dXX0.j5cZoW7KWNA6bUzCUYqBcePZQqWE8xtPajeUdqc-oik" />
