label {
    display: block;
    width: 200px;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}

    ul.submenu > li {
        display: block;
    }

        ul.submenu > li > a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
        }

            ul.submenu > li > a:hover {
                text-decoration: underline;
            }

ul.menu > li:hover > ul.submenu {
    display: block;
}