@model bank.Data.Models.Contract

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактировать</h1>

<h4>Контракт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <label asp-for="dateOfSigning" class="control-label">Дата</label>
                @Html.EditorFor(model => model.dateOfSigning)
                <span asp-validation-for="dateOfSigning" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="clientID" class="control-label">ID клиента</label>
                @Html.EditorFor(model => model.clientID)
                <span asp-validation-for="clientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="employeeID" class="control-label">ID сотрудника</label>
                @Html.EditorFor(model => model.employeeID)
                <span asp-validation-for="employeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Назад", "Index")
</div>
